DJANGO_SECRET_KEY=pcj6jDxI1-g3H08CYROqbU3Qx9dWkpTDNqprKR8ipKndnMqBUuRhopoCxP02I3qUscl4mzCpc9u80b68onVgMA
DJANGO_DEBUG=True
DATABASE_URL=postgresql://postgres:YYzvQtaaFuIfISrbrwxwvJuYgameGisT@postgres-afdi.railway.internal:5432/railway
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
MEDIA_STORAGE=local
VITE_API_URL=http://localhost:8000/api
POSTGRES_DB=fridge_refill
POSTGRES_USER=fridge
POSTGRES_PASSWORD=london123
